<% include partials/header %>
<ul style="margin-left:20px;" class="pager">
    <li class="previous"><a href="/staff"><span aria-hidden="true">&larr;</span> GO BACK ! </a></li>
  </ul>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">REMOVE FARMER</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form id="delete form"  action="/staff/delete/id" method="POST">
                <!--<div class="form-group">-->
                <!--    <input class="form-control" type="text" name="name" placeholder="name">-->
                <!--</div>-->
                <div class="form-group">
                    <input class="form-control" type="number" name="id" placeholder="farmer id">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="groupid" placeholder="farmer group id">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="projectid" placeholder="farmer crop id">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">DELETE !</button>
                </div>
            </form>
            <a href="/staff">Go Back</a>
        </div>
    </div>
</div>
<% include partials/footer %>