<% include partials/header %>
<nav>
  <ul style="margin-left:20px;" class="pager">
    <li class="previous"><a href="/groupindex"><span aria-hidden="true">&larr;</span> GROUP VIEW ! </a></li>
  </ul>
</nav>
<br>
<h1 style="text-align:center;">Group Id   : <%= results[0].groupid %></h1>
<h1 style="text-align:center; ">Group Name : <%= results[0].groupname %></h1>
<p style="text-align:center;"> ALL PROJECTS UNDER THIS GROUP ARE DISPLAYED BELOW : </p>
<br>

<h1 style="text-align:center;">NO PROJECTS ALLOTED UNDER THIS GROUP</h1>



<% include partials/footer %>