<% include partials/header %>

<ul style="text-align:center; margin:10px;" class="nav nav-pills">
  <li role="presentation" ><a href="/staff">VIEW ALL FARMERS </a></li>
  <li role="presentation" ><a href="/groupindex">FARMER GROUP VIEW</a></li>
  <li role="presentation" class="active"><a href="/projectindex">FARMER CROP VIEW</a></li>
  <li role="presentation"><a href="/organisationindex">FARMER ORGANISATION VIEW</a></li>
</ul>
















<% include partials/footer %>